<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="xjpj/front/include_front::header">
</head>
<body>

	<nav th:include="xjpj/front/include_front::nav"
		class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
	<header class="intro-header"
		style="background-image: url('/img/logo.png')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading"></div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<div class="notice-title">公告：</div>
				<div class="notice notice-content">
					<ul id="ul_notice">
					</ul>
				</div>
				<div class="pull-right" style="margin-top:-25px;position:relative;z-index:9999;"><a target='_blank' href="/blog/open/categories/notice">更多>></a></div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-2 col-sm-3" style="margin-top: 22px;padding-left: 100px;"><a id="prevKhzq" href="#" onclick="prev()">《《</a></div>
			<div class="col-md-8  col-sm-6"><h3 id="tblTitle"></h3></div>
			<div class="col-md-2 col-sm-3" style="margin-top: 22px;padding-right: 100px;"><a id="nextKhzq" href="#" onclick="next()">》》</a></div>
			<input id="khzq" name="khzq" type="hidden">
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<table id="exampleTable">
					<thead>
						<tr>
							<th data-formatter="xhFormatter" rowspan="2" data-valign="middle"
								data-align="center">序号</th>
							<th data-field="deptId" rowspan="2" data-valign="middle"
								data-align="center" data-visible="false">单位ID</th>
							<th data-field="deptName" rowspan="2" data-valign="middle"
								data-align="center" data-formatter="dwFormatter">单位</th>
							<th data-field="pdzgrs" rowspan="2" data-valign="middle"
								data-align="center" data-formatter="pdzgrsFormatter">参与职工人数</th>
							<th colspan="2" data-valign="middle" data-align="center">三星级<img src="/img/star.jpg" height="24" width="26" /><img src="/img/star.jpg" height="24" width="26" /><img src="/img/star.jpg" height="24" width="26" /></th>
							<th colspan="2" data-valign="middle" data-align="center">二星级<img src="/img/star.jpg" height="24" width="26" /><img src="/img/star.jpg" height="24" width="26" /></th>
							<th colspan="2" data-valign="middle" data-align="center">一星级<img src="/img/star.jpg" height="24" width="26" /></th>
						</tr>
						<tr>
							<th data-field="sxrs" data-align="center" data-formatter="sxrsFormatter"
							style="border-left:1 solid black">人数</th>
							<th data-field="sxbl" data-align="center"
								data-formatter="blFormatter">比例</th>

							<th data-field="exrs" data-align="center" data-formatter="exrsFormatter">人数</th>
							<th data-field="exbl" data-align="center"
								data-formatter="blFormatter">比例</th>

							<th data-field="yxrs" data-align="center" data-formatter="yxrsFormatter">人数</th>
							<th data-field="yxbl" data-align="center"
								data-formatter="blFormatter">比例</th>

						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
<div th:include="xjpj/front/include_front::footer"></div>

<script type="text/javascript">
	var limit = 10;
	var currentPage = 0;
	var total;
	$(function() {
		load();
		$.ajax({
			// get请求地址
			url : "/blog/list/notice",
			dataType : "json",
			success : function(data) {
				var optArr = [];
				for (var i = 0; i < data.length; i++) {
					$('#ul_notice').append(
							"<li><a target='_blank' href='/blog/open/post/"+ data[i].cid +"'>" + data[i].title + "</a></li>");
				}

			}
		});
		setInterval("noticeUp('.notice ul','-35px',500)", 2000);
	});

	function load() {
		$('#exampleTable').bootstrapTable({
			method : 'get', // 服务器数据的请求方式 get or post
			url : '/xjpj/statistics/pdqktj', // 服务器数据的加载地址
			striped : false, // 设置为true会有隔行变色效果
			dataType : "json", // 服务器返回的数据类型
			pagination : false, // 设置为true会在底部显示分页条
			queryParams : function(params) {
				return {
					// 说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
					khzq : $("#khzq").val()
				// name:$('#searchName').val(),
				// username:$('#searchName').val()
				};
			},
			onLoadSuccess:function(data){
				var title = '';
				if(data != null && data.length>0){
					$("#khzq").val(data[0].khzq);
					var year = data[0].khzq.substring(0,4);
					var month = data[0].khzq.substring(4,6);
					title +=year+'年'+month+'月份集团公司“星级职工”评定基本情况统计表';
					$('#tblTitle').html(title);
					var curDate = new Date();
					curDate.setMonth(curDate.getMonth()-1);
					var khDate = new Date();
					khDate.setYear(year);
					khDate.setMonth(Number(month)-1);
					/* if(curDate<=khDate){
						$('#nextKhzq').hide();
					}
					else{
						$('#nextKhzq').show();
					}
					if(khDate.getMonth()<=7){
						$('#prevKhzq').hide();
					}
					else{
						$('#prevKhzq').show();
					} */
				    var sum_pdzgrs = 0;
				    var sum_sxrs = 0;
				    var sum_exrs = 0;
				    var sum_yxrs = 0;
				    
				    for (var o in data) {
				    	sum_pdzgrs = parseInt(sum_pdzgrs) + parseInt(data[o].pdzgrs);
				    	sum_sxrs = parseFloat(sum_sxrs) + parseFloat(data[o].sxrs);
				    	sum_exrs = parseFloat(sum_exrs) + parseFloat(data[o].exrs);
				    	sum_yxrs = parseFloat(sum_yxrs) + parseFloat(data[o].yxrs);
				    }
				    var rowHeji = {
				    	deptName: "合计",
				    	pdzgrs:sum_pdzgrs,
				    	sxrs:sum_sxrs,
				    	sxbl:sum_pdzgrs==0?0:sum_sxrs/sum_pdzgrs,
				    	exrs:sum_exrs,
				    	exbl:sum_pdzgrs==0?0:sum_exrs/sum_pdzgrs,
				    	yxrs:sum_yxrs,
				    	yxbl:sum_pdzgrs==0?0:sum_yxrs/sum_pdzgrs
				    };
				    $('#exampleTable').bootstrapTable('insertRow', {index:0, row:rowHeji});
				}
				else{
					$('#tblTitle').html("暂无数据");
				}
				
				
			}
			
		});
	}
	function prev(){
		var currentKhzq = $("#khzq").val();
		var curYear = Number(currentKhzq.substring(0,4));
		var curMonth = Number(currentKhzq.substring(4,6));
		var prevYear;
		var prevMonth;
		if(curMonth>1){
			prevYear = curYear;
			prevMonth = curMonth-1;
		}
		else{
			prevYear = curYear - 1;
			prevMonth = 12;
		}
			
		if(prevMonth<10)
			prevMonth = '0'+prevMonth;
		var prevKhzq =prevYear+''+prevMonth;

		$("#khzq").val(prevKhzq);

		$('#exampleTable').bootstrapTable('refresh');
	}
	function next(){
		var currentKhzq = $("#khzq").val();
		var curYear = Number(currentKhzq.substring(0,4));
		var curMonth = Number(currentKhzq.substring(4,6));
		var nextYear;
		var nextMonth;
		if(curMonth<12){
			nextYear = curYear;
			nextMonth = curMonth+1;
		}
		else{
			nextYear = curYear + 1;
			nextMonth = 1;
		}
			
		if(nextMonth<10)
			nextMonth = '0'+nextMonth;
		var nextKhzq =nextYear+''+nextMonth;

		$("#khzq").val(nextKhzq);

		$('#exampleTable').bootstrapTable('refresh');
	}
	function dwFormatter(value, row, index) {
		if(row.deptName=="合计"){
			return "<b>"+value+"</b>";
		}
		var url = "/front/search?deptId="+row.deptId+"&deptName="+value;
		var a = "<a href='"+encodeURI(url)+"'>"+value+"</a>";
		return a;
	}
	
	function pdzgrsFormatter(value, row, index) {
		if(row.deptName=="合计"){
			return value;
		}
		var url = "/front/search?deptId="+row.deptId+"&deptName="+row.deptName;
		var a = "<a href='"+encodeURI(url)+"'>"
				+value+"</a>";
		return a;
	}
	
	function sxrsFormatter(value, row, index) {
		if(row.deptName=="合计"){
			return value;
		}
		var url = "/front/search?deptId="+row.deptId+"&deptName="+row.deptName+"&xingJi=3";
		var a = "<a href='"+encodeURI(url)+"'>"
				+value+"</a>";
		return a;
	}
	function exrsFormatter(value, row, index) {
		if(row.deptName=="合计"){
			return value;
		}
		var url = "/front/search?deptId="+row.deptId+"&deptName="+row.deptName+"&xingJi=2";
		var a = "<a href='"+encodeURI(url)+"'>"
				+value+"</a>";
		return a;
	}
	function yxrsFormatter(value, row, index) {
		if(row.deptName=="合计"){
			return value;
		}
		var url = "/front/search?deptId="+row.deptId+"&deptName="+row.deptName+"&xingJi=1";
		var a = "<a href='"+encodeURI(url)+"'>"
				+value+"</a>";
		return a;
	}
	function xhFormatter(value, row, index) {
		if(row.deptName=="合计"){
			return "";
		}
		else{
			return index;
		}
	}

	function blFormatter(value, row, index) {
		var bl = parseFloat(value).toFixed(2);
		return bl * 100 + "%";
	}

	/*
	 * 参数说明
	 * obj : 动画的节点，本例中是ul
	 * top : 动画的高度，本例中是-35px;注意向上滚动是负数
	 * time : 动画的速度，即完成动画所用时间，本例中是500毫秒，即marginTop从0到-35px耗时500毫秒
	 * function : 回调函数，每次动画完成，marginTop归零，并把此时第一条信息添加到列表最后;
	 * 
	 */
	function noticeUp(obj, top, time) {
		$(obj).animate({
			marginTop : top
		}, time, function() {
			$(this).css({
				marginTop : "0"
			}).find(":first").appendTo(this);
		})
	}

	function noticeLeft(obj, left, time) {
		$(obj).animate({
			marginLeft : left
		}, time, function() {
			$(this).css({
				marginLeft : "0"
			}).find(":first").appendTo(this);
		})
	}
</script>


</html>
