<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="xjpj/front/include_front::header"></head>
<body>
	<nav th:include="xjpj/front/include_front::nav"
		class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
	<header class="intro-header"
		style="background-image: url('/img/logo.png')">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
					<div class="site-heading"></div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row text-center">
			<h3>星级职工评定查询平台</h3>
		</div>
		<div class="fixed-table-toolbar">
			<div class="row">
				<div class="col-sm-4 form-inline">
					<label class="control-label">单位：</label> <input id="deptId"
						name="deptId" class="hidden" th:value="${deptId}"> <input id="deptName"
						name="deptName" class="form-control" type="text"
						style="cursor: pointer;" onclick="openDept()" readonly="readonly"
						placeholder="所属部门" th:value="${deptName}">
				</div>
				<div class="col-sm-4 form-inline">
					<label class="control-label form-inline">所属车间：</label> <input
						id="cheJian" name="cheJian" class="form-control" type="text"
						placeholder="所属车间" th:value="${cheJian}">
				</div>
				<div class="col-sm-4 form-inline">
					<label class="control-label form-inline">班组：</label> <input
						id="banZu" name="banZu" class="form-control" type="text"
						placeholder="所属班组" th:value="${banZu}">
				</div>

			</div>
			<div class="row">
			<div class="col-sm-4 form-inline">
					<label class="control-label">岗位：</label> <input id="gangWei"
						name="gangWei" class="form-control" type="text" placeholder="岗位" th:value="${gangWei}">
				</div>
				<div class="col-sm-4 form-inline">
					<label class="control-label">身份证号：</label> <input id="sfzh"
						name="sfzh" class="form-control" type="text" placeholder="身份证号" th:value="${sfzh}">
				</div>
				<div class="col-sm-4 form-inline">
					<label class="control-label">星級： </label> 
					<select id="xingJi"
						name="xingJi" class="form-control" th:value="${xingJi}">
						<option th:selected="${xingJi==''}" value="">-全部-</option>
						<option th:selected="${xingJi=='1'}" value="1">1</option>
						<option th:selected="${xingJi=='2'}" value="2">2</option>
						<option th:selected="${xingJi=='3'}" value="3">3</option>
						<option th:selected="${xingJi=='0'}" value="0">失格</option>
					</select>
				</div>

				
			</div>
			<div class="row form-inline	col-sm-12">
				<button class="btn btn-primary" onclick="reLoad()" type="button">查询</button>
				<button class="btn btn-success" onclick="reset()" type="button">重置</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
				<table id="exampleTable">
				</table>
			</div>
		</div>
	</div>
</body>
<div th:include="xjpj/front/include_front::footer"></div>
<script type="text/javascript" src="/js/appjs/xjpj/front/search.js"></script>



</html>
