<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="xjpj/front/include_front::header"></head>
<body>
	<nav th:include="xjpj/front/include_front::nav"
		class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
	<header class="intro-header"
		style="background-image: url('/img/logo.png')">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
					<div class="site-heading"></div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row text-center">
			<h3>星级职工评定查询平台</h3>
		</div>
		<div class="fixed-table-toolbar">
		<div class="row">
			<div class="col-sm-4 form-inline">
				<label class="control-label">选择单位：</label> 
				<input id="deptId" name="deptId" class="hidden">
				<input id="deptName" name="deptName" class="form-control" type="text"
					style="cursor: pointer;" onclick="openDept()" readonly="readonly"
					placeholder="所属部门">
			</div>
			<div class="col-sm-4 form-inline">
				<label class="control-label form-inline">车间：</label> <input
					id="cheJian" name="cheJian" class="form-control" type="text"
					placeholder="所属车间">
			</div>
			<div class="col-sm-4 form-inline">
				<label class="control-label form-inline">班组：</label> <input
					id="banZu" name="banZu" class="form-control" type="text"
					placeholder="所属班组">
			</div>

		</div>
		<div class="row">
			<div class="col-sm-4 form-inline">
			<label class="control-label">身份证号：</label>
				<input id="sfzh" name="sfzh" class="form-control" type="text"
					placeholder="身份证号">
			</div>
			<div class="col-sm-4 form-inline">
			<label class="control-label">星級：</label>
				<select id="xingJi" name="xingJi" class="form-control">
					<option value="">-全部-</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option value="0">失格</option>
				</select>
			</div>
			<div class="col-sm-4 form-inline">
				<button class="btn btn-primary" onclick="reLoad()" type="button">查询</button>
				<button class="btn btn-success" onclick="reset()" type="button">重置</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
				<table id="exampleTable" data-mobile-responsive="true">
				</table>
			</div>
		</div>
		</div>
	</div>
</body>
<div th:include="xjpj/front/include_front::footer"></div>
<script type="text/javascript" src="/js/appjs/xjpj/front/search.js"></script>



</html>
