<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.LogDao">

	<select id="get" resultType="com.bootdo.common.domain.LogDO">
		select ID,USER_ID,USERNAME,OPERATION,TIME,METHOD,PARAMS,IP,GMT_CREATE from SYS_LOG where ID = #{value}
	</select>

	<select id="list" resultType="com.bootdo.common.domain.LogDO">
	    <include refid="pagination.Oracle_Pagination_Head" />
		select  ID , USER_ID , USERNAME , OPERATION , TIME , METHOD , PARAMS , IP , GMT_CREATE  from SYS_LOG
        <where>  
		  		  <if test="id != null and id != ''"> and ID = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and USER_ID = #{userId} </if>
		  		  <if test="username != null and username != ''"> and USERNAME = #{username} </if>
		  		  <if test="operation != null and operation != ''"> and OPERATION = #{operation} </if>
		  		  <if test="time != null and time != ''"> and TIME = #{time} </if>
		  		  <if test="method != null and method != ''"> and METHOD = #{method} </if>
		  		  <if test="params != null and params != ''"> and PARAMS = #{params} </if>
		  		  <if test="ip != null and ip != ''"> and IP = #{ip} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and GMT_CREATE = #{gmtCreate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ID desc
			</otherwise>
        </choose>
		<include refid="pagination.Oracle_Pagination_Tail" />
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from SYS_LOG
		 <where>  
		  		  <if test="id != null and id != ''"> and ID = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and USER_ID = #{userId} </if>
		  		  <if test="username != null and username != ''"> and USERNAME = #{username} </if>
		  		  <if test="operation != null and operation != ''"> and OPERATION = #{operation} </if>
		  		  <if test="time != null and time != ''"> and TIME = #{time} </if>
		  		  <if test="method != null and method != ''"> and METHOD = #{method} </if>
		  		  <if test="params != null and params != ''"> and PARAMS = #{params} </if>
		  		  <if test="ip != null and ip != ''"> and IP = #{ip} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and GMT_CREATE = #{gmtCreate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.common.domain.LogDO">
		<selectKey resultType="long" keyProperty="id" order="BEFORE">  
			SELECT SEQ_SYS_LOG.NEXTVAL FROM DUAL   
		</selectKey>
		insert into SYS_LOG
		(

			 ID , 			

			 USER_ID , 			

			 USERNAME , 			

			 OPERATION , 			

			 TIME , 			

			 METHOD , 			

			 PARAMS , 			

			 IP , 			

			 GMT_CREATE 			
		)
		values
		(
			#{id,jdbcType=NUMERIC}, 		
			#{userId,jdbcType=NUMERIC}, 		
			#{username,jdbcType=VARCHAR}, 		
			#{operation,jdbcType=VARCHAR}, 		
			#{time,jdbcType=NUMERIC}, 		
			#{method,jdbcType=VARCHAR}, 		
			#{params,jdbcType=NCLOB}, 		
			#{ip,jdbcType=VARCHAR}, 		
			#{gmtCreate,jdbcType=DATE}		
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.common.domain.LogDO">
		update SYS_LOG 
		<set>
			<if test="userId != null"> USER_ID  = #{userId}, </if>
			<if test="username != null"> USERNAME  = #{username}, </if>
			<if test="operation != null"> OPERATION  = #{operation}, </if>
			<if test="time != null"> TIME  = #{time}, </if>
			<if test="method != null"> METHOD  = #{method}, </if>
			<if test="params != null"> PARAMS  = #{params}, </if>
			<if test="ip != null"> IP  = #{ip}, </if>
			<if test="gmtCreate != null"> GMT_CREATE  = #{gmtCreate}</if>
		</set>
		where ID = #{id}
	</update>
	
	<delete id="remove">
		delete from SYS_LOG where ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from SYS_LOG where ID in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>