<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="xjpj:pingdingxinxi:import" type="button" class="btn  btn-primary" onclick="importExcel()">
								<i class="fa fa-plus" aria-hidden="true"></i>批量导入
							</button>
							<button shiro:hasPermission="xjpj:pingdingxinxi:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="xjpj:pingdingxinxi:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<a href="/common/sysFile/download/1106">下载操作说明</a>
							<a href="/common/sysFile/download/1107">下载导入Excel模板</a>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="输入姓名查询">
						</div>
						<div class="columns pull-right col-md-2">
							<input id="khzq" name="khzq" class="form-control" type="text"
										readonly="readonly" placeholder="选择考核周期查询">
						</div>
					</div>
					<table id="exampleTable">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="xjpj:pingdingxinxi:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="xjpj:pingdingxinxi:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="xjpj:pingdingxinxi:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/xjpj/pingdingxinxi/pingdingxinxi.js"></script>
</body>
</html>