<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav"
		class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
	<!-- Page Header -->
	<header class="intro-header"
		style="background-image: url('/img/logo.png')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading"></div>
				</div>
			</div>
		</div>
	</header>

	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="col-sm-12 text-center">
				<h3 th:text="${bContent.title}"></h3>
				<span class="meta">发布时间：<a href="#"
					th:text="${gtmModified}"></a>
				</span>
			</div>

			<div class="col-sm-12">
				<div id="content" class="summernote"></div>
			</div>

			<div class="col-sm-12">
			<hr>
			<b>附件：</b>
				<div id="attatchment" th:each="attatch : ${attatchList}">
					<a th:href="${'/common/sysFile/download/'+attatch.fileDO.id}" th:text="${attatch.fileDO.originalName}"></a>
				</div>
			</div>
		</div>
	</article>
	<hr>
	<div th:include="blog/index/include_blog::footer"></div>
	<script type="text/javascript" th:inline="javascript">
		$().ready(function() {
			$('.summernote').summernote({
				lang : 'zh-CN'
			});
			var content = /*[[${bContent.content}]]*/
			$('#content').code(content);
			$('.summernote').destroy();
		});
	</script>
</body>
</html>
